* {
    margin: 0;
    padding: 0;
}

div#map {
    float: left;
}

div#map:-webkit-full-screen {
    height: 100%;
}

div#map:-moz-full-screen {
    height: 100%;
}

div#map:-ms-fullscreen {
    height: 100%;
}

div#map:fullscreen {
    height: 100%;
}

div#container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: overlay;
}

div#sidebar {
    float: right;
    height: 100%;
    width: 300px;
}

div.stripe {
    border: 1px solid #888888;
    border-radius: 5px;
    font-family: Menlo,Courier,monospace;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
}

div.callsign {
    font-weight: bold;
}

div.altitude {

}

div.speed {

}
